extends layout

block content
  nav.pill-nav
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/recipes") Recipes
    a(href="/tags") Categories
    a.active(href="/reviews") Reviews

    if isAdmin
      a.primary(href="/admin") Admin
      a(href="/users") Users
      a(href="/allswaps") All Swaps

    if loggedIn
      span.nav-spacer
      a(href="/profile") Profile
      a(href="/swaps") My Swaps
      a(href="/logout") Logout
    else
      span.nav-spacer
      a.logonbtn(href="/signin") Sign in
      a.logonbtn.primary(href="/signup") Sign up

  h1 Forum

  form(method="GET", action="/forum")
    input(type="text", name="search", value=search, placeholder="Search by ingredient or keyword")
    button(type="submit") Search

  if loggedIn
    a(href="/forum/new") New post

  each post in posts
    .post-card
      h3
        a(href=`/forum/${post.post_id}`)= post.title
      p= post.content
      p Posted by #{post.username}
      if post.ingredient_tag
        p Ingredient: #{post.ingredient_tag}