extends layout

block content
  nav.pill-nav
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/recipes") Recipes
    a(href="/tags") Categories
    a(href="/reviews") Reviews
    a(href="/forum") Forum
    a(href="/leaderboard") Leaderboard 

    if isAdmin
      a.primary(href="/admin") Admin
      a(href="/users") Users
      a(href="/allswaps") All Swaps

    if loggedIn
      a.active(href="/matches") Matches
      span.nav-spacer
      a(href="/profile") Profile
      a(href="/swaps") My Swaps
      a(href="/logout") Logout
    else
      span.nav-spacer
      a.logonbtn(href="/signin") Sign in
      a.logonbtn.primary(href="/signup") Sign up

  h1 Your Recipe Matches

  if matches.length
    each match in matches
      .match-card
        if match.image_path
          img(src=match.image_path, alt=match.recipe_title, width="250")
        else
          img(src="/images/placeholder-recipe.jpg", alt="Recipe placeholder", width="250")

        h3
          a(href=`/recipes/${match.recipe_id}`)= match.recipe_title
        p= match.summary
        p By #{match.username}
        p Shared tags: #{match.shared_tags}
        a(href=`/recipes/${match.recipe_id}/swap`) Request swap
  else
    p No matches found yet.