extends layout
block content
  nav.pill-nav  
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a.active(href="/users") Users
    a(href="/recipes") Recipes
    a(href="/tags") Categories
    a(href="/reviews") Reviews 
  
  .profile
    h2= user.username
    h4 Email
    p.email= user.email_address
    h4 Account Created
    p.email= user.created_at

  h3.section-title Recipes

  .card-grid
    each recipe in recipes
      .card
        h4= recipe.recipe_title
        p= recipe.summary
        a.btn(href=`/recipes/${recipe.recipe_id}`) View Recipe