extends layout

block content
  .recipe-detail
    h2= recipe.title

    .recipe-section
      h4 Description
      p= recipe.description

    .recipe-section
      h4 Ingredients
      p= recipe.ingredients

    .recipe-section
      h4 Instructions
      p= recipe.instructions

    .recipe-section
      h4 Tags
      p= tags.map(t => t.name).join(', ')

    a.btn(href=`/users/${recipe.user_id}`) View Author