extends layout

block content
  nav.pill-nav 
     a.logo(href="/") RecipeSwap
     a(href="/") Home
     a(href="/users") Users
     a.active(href="/recipes") Recipes
     a(href="/tags") Categories

  .recipe-detail
    h2= recipe.recipe_title

    .recipe-section
      h4 Description
      p= recipe.summary

    .recipe-section
      h4 Ingredients
      p= recipe.ingredients

    .recipe-section
      h4 Instructions
      p= recipe.instructions

    .recipe-section
      h4 Tags
      p= tags.map(t => t.tag_name).join(', ')


    a.btn(href=`/users/${recipe.author_id}`) View Author
    a.btn(href=`/recipes/${recipe.recipe_id}/swap`) Request Swap
    a.btn(href=`/recipes/${recipe.recipe_id}/reviews`) leave a Review

  