extends layout

block content
  nav.pill-nav 
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/recipes") Recipes
    a(href="/tags") Categories
    a.active(href="/reviews") Reviews
    a(href="/forum") Forum
    a(href="/leaderboard") Leaderboard 
    if isAdmin
      a.primary Admin
      a(href="/users") Users
      a(href="/allswaps") All Swaps
    if loggedIn
      a(href="/matches") Matches
      span.nav-spacer
      a(href="/profile") Profile
      a(href="/swaps") My Swaps
      a(href="/logout") Logout
    else  
      span.nav-spacer
      a.logonbtn(href="/signin") Sign in
      a.logonbtn.primary(href="/signup") Sign up

  h1 Leave a Review
  p Recipe: #{targetRecipe.recipe_title}

  if loggedIn
    form(method="POST", action="/recipes/" + targetRecipe.recipe_id + "/reviews")
      label(for="rating") Rating
      select(name="rating", id="rating", required)
        option(value="") Select a rating
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5

      br
      br

      label(for="comment") Comment
      textarea(name="comment", id="comment", rows="5", cols="40", required)

      br
      br

      a.btn(type="submit") Submit Review
  else
    p You must be signed in to leave a review.

  h2 Existing Reviews

  if reviews && reviews.length
    each review in reviews
      div.card
        p Review ID: #{review.review_id}
        p Recipe name: #{review.recipe_title}
        p Rating: #{review.rating}
        p Comment: #{review.comment}
        p Reviewed by: #{review.username}
        p Created: #{review.created_at}
        hr
  else
    p No reviews yet.