extends layout

block content
  nav.pill-nav 
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/users") Users
    a.active(href="/recipes") Recipes
    a(href="/tags") Categories

  h1 Recipe Reviews

  if reviews.length
    each review in reviews
      div.card
        p Review ID: #{review.review_id}
        p Reviewer ID: #{review.reviewer_id}
        p Reviewed by: #{review.username}
        p Rating: #{review.rating}
        p Comment: #{review.comment}
        p Created: #{review.created_at}
       
        hr
  else
    p No swaps yet.
    

    