extends layout

block content
  nav.pill-nav 
    a.logo(href="/") RecipeSwap
    a(href="/") Home
    a(href="/users") Users
    a.active(href="/recipes") Recipes
    a(href="/tags") Categories
    a(href="/reviews") Reviews

  h1 Recipe Swaps

  if swaps.length
    each swap in swaps
      div.card
        p Swap ID: #{swap.swap_id}
        p Requested: #{swap.requested_title}
        p Offered: #{swap.offered_title}
        p Status: #{swap.swap_status}
        p Requested by: #{swap.username}
        hr
  else
    p No swaps yet.
    

    